@import "../../Scss/measure";
.services {
  padding: 24px 20px;
  @include responsive728 {
    display: flex;
    flex-direction: column;
    padding: 64px;
  }
  .textBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 27px;
    width: 100%;
    :nth-child(2) {
      button {
        display: none;
        @include responsive728 {
          display: block;
        }
      }
    }
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #212121;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      // button {
      //   padding: 14px 13px;
      //   border-radius: 4px;
      //   border: 1px solid #bdbdbd;
      //   background: transparent;
      //   color: var(--grayscale-900, #212121);
      //   font-size: 0.682rem;
      //   font-style: normal;
      //   font-weight: 500;
      //   line-height: 140%;
      //   letter-spacing: 0.136px;
      // }
    }
    .textServices {
      font-size: 1rem;
      color: #022b9e;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.2px;
      button {
        @include responsive728 {
          display: none;
        }
      }
    }
  }
  .cardsBox {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    @include responsive728 {
      gap: 40px 20px;
    }

    div {
      flex: 1 0 100%;
      overflow: hidden;

      @include responsive728 {
        flex: 1 0 calc(calc(100% - 80px) / 2);
      }
      @include responsive992 {
        flex: 1 0 calc(calc(100% - 80px) / 3);
      }

      .imgBox {
        border-radius: 15px;
        aspect-ratio: 1 / 1;

        &:hover img {
          transform: scale(1.08);
        }
        .cardImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: all 400ms;
        }
      }
      p {
        padding-top: 15px;
        color: #272828;
        font-size: 1.011rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        cursor: pointer;
      }
    }
  }
}
