@import "../../Scss/_measure.scss";
.aboutUsContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 32px 20px 30px 20px;
  gap: 34px;
  @include responsive768 {
    grid-template-columns: 1fr 1fr;
  }
  .aboutUsTextContainer {
    h3 {
      font-size: 1rem;
      color: #022b9e;
      font-weight: 600;
    }
    b {
      font-size: 1.125rem;
      font-weight: 600;
      margin: 12px 0 23px 0;
      display: block;
    }
    p {
      font-size: 0.875rem;
      margin-bottom: 20px;
      color: #272828;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0.2px;
    }
    button {
      padding: 12px 30px;
      border-radius: 4px;
      border: 1px solid #022b9e;
      background: #022b9e;
      color: #fff;
      font-weight: 700;
    }
  }
  .aboutUsImgContainer {
    display: flex;
    align-items: center;
  
    img {
      aspect-ratio: 16/9;
      object-fit: cover;

      width: 100%;
      border-radius: 20px;
    }
  }
}
